# Backend API
VITE_API_URL=http://localhost:9000

VITE_API_URL=https:your_backend_url/api


# Google OAuth
VITE_GOOGLE_CLIENT_ID=your_google_client_id

# Stripe
VITE_STRIPE_PUB_KEY=your_stripe_publishable_key

# Paystack
VITE_PAYSTACK_PUB_KEY=your_paystack_public_key