# PostgreSQL database
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=pernstore
POSTGRES_PORT=5432

# Application
PORT=9000

# JWT
SECRET=your_jwt_secret
REFRESH_SECRET=your_refresh_secret

# Mail
SMTP_FROM=your_email
SMTP_USER=your_email

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key

# Google OAuth - Sign in
OAUTH_CLIENT_ID=your_google_client_id
OAUTH_CLIENT_SECRET=your_google_client_secret
OAUTH_REFRESH_TOKEN=your_google_refresh_token

# Google OAuth - Email
CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret
REFRESH_TOKEN=your_google_refresh_token